body{
    margin: 0%;
    background-color: #0066FF;
    border: solid 5px black;
}

header{
    background-color: black;
    margin: 0;
    padding: 30px;
    height: 8vh;
}

.logo{
    position: absolute;
    left: 90%;
}

nav{
    background-color: #353131;
    padding: 4vh;
}

.h1_heroi1{
    font-size: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5vh;
    position: absolute;
    left: 5%;
    color: white;
}

.dsheroi{
    background-color: #D9D9D9;
    padding: 5vh;
    width: 80vh;
    height: 30vh;
    position: absolute;
    left: 5%;
    top: 35%;
    border: 10px solid black;
}
